@()<div id="panel-home" class="section-panel">
      <div class="panel-content">
        <div id="home-content" class="theme striped with-margin">
          <p>
            <a href="@controllers.routes.SolitaireController.start()">Selletaire</a> is an ad-free,
            <a target="_blank" href="https://github.com/tahaadams/selletaire">open source</a>, customized experience just for you. Have fun playing!
          </p>

          <p>
            <a href="@controllers.routes.SolitaireController.startArgs("play")" class="home-link-play btn-big">Play Selletaire Now</a>
          </p>
        </div>
      </div>
    </div>
